<h1>Hola mundo</h1>

<form action="/api/productos" method="post">
    <label for="title">Titulo del producto</label>
    <input type="text" name="title" id="">
    <label for="precio">precio</label>
    <input type="number" name="precio" id="">
    <label for="link">link</label>
    <input type="link" name="precio" id="">
    <button>enviar</button>
    
</form>